@import "_normalize";
@import "_variables";
html {
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  min-height: 100vh;
  color: $whity;
  background: $brown;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  max-width: 544px;
  width: 100%;
}
.header {
  font-weight: 600;
  font-size: 44px;
  margin: 0;
}
.form {
  &__label {
    display: block;
    font-size: 14px;
    margin: 1rem 0 0.5rem 0;
  }
  &__area {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid $whity;
    background-color: $whity;
    min-height: 30vh;
  }
  &__buttons {
    display: flex;
    justify-content: flex-end;
  }
  &__button {
    border-style: none;
    background-color: $whity;
    border-radius: 3px;
    padding: 5px 20px;
    margin-top: 1rem;
    margin-left: 0.8rem;
    letter-spacing: 0.5px;
    transition: 0.2s;
    &:hover {
      background-color: $brown;
      color: $whity;
      border: 1px solid $whity;
    }
  }
}
